.comp2-component {
  text-align: center;
  border: #bbb 2px solid;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 10px;
  width: 350px;
  height: 250px;
}

p{
  font-size: 25px;
  text-align: center;
  justify-content: center;
}
